<div class="panel panel-default" ng-init="getEmployees()">
	<div class="panel-heading">
	  <p class="panel-title"><span style="color:#5bc0de;" 
class="glyphicon glyphicon-list"> </span> Employees List</p>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
			<tr>
			  <th>Name</th>
			  <th>Department</th>
			  <th>Location</th>
			  <th>Actions</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="employee in employees">
			  <td>{{ employee.name }}</td>
			  <td>{{ employee.dept }}</td>
			  <td>{{ employee.area }}</td>
			  <td> 
			    <a href="#/employees/{{employee._id}}/show" class="btn btn-info"> Show  </a>
			    <a href="#/employees/{{employee._id}}/edit" class="btn btn-success"><span class="glyphicon glyphicon-edit"> </span> Edit  </a>
			  	<a ng-click="deleteEmployee(employee._id)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"> </span> Delete </a>
			  </td>
			</tr>
			</tbody>
		</table>		
    <div>
<div>